.main_header
  = render 'shared/header'
%section.pickup-container

  .mypage-body.clearfix
    = render 'shared/user-side'
    .main__content
      .tabs
        %input#notice{:checked => "checked", :name => "tab_user", :type => "radio"}/
        %label.tab_user{:for => "notice"}
          出品中
        %input#todo{:name => "tab_user", :type => "radio"}/
        %label.tab_user{:for => "todo"}
          売却済み
        #notice_content.tab_content
          %ul.tab-content
            %li.notice_content
              - @items.each do |item|
                = link_to look_item_path(id: item.id) , class: "tab-content__list"  do
                  = image_tag item.item_images[0].image, class: "tab-content__list--mercari"
                  = fa_icon "angle-right", class: "tab-content__list--arrow"
                  .tab-content__list--body
                    .tab-content__list--body-text
                      = item.name
        #todo_content.tab_content
          = image_tag("user-joukyo.png" , class: "tab-content__list--picture" )

