%h2.pickup-head
  ピックアップカテゴリー
  %h3.items__pickup__container
    = link_to "" ,class: "items__pickup__container__category" do
      = "#{@category.name} 新着アイテム"
  %section.item-boxs.clearfix
    %li.item-box
      %figure.item-box__figure
        / 商品の一枚目の写真を表示
        = image_tag @item.item_images[0].image, alt: "",class: "item-box__image"
        .item-box__body
          .item-box__text
            .item-box__name
              =@item.name
          .item-box__num
            .item-box__num__price
              = @item.price
              .nice
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span
                  1
            %p.item-box__num__price-tax
              (税込)
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m27494621050_1.jpg?1553412085"
/           .item-box__body
/             .item-box__text
/               %h4
/                 モーニングカーム☆Tシャツ チュニック
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,800
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m77157153795_1.jpg?1517663090"
/           .item-box__body
/             .item-box__text
/               %h4
/                 マウジー ニット LOUD
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,500
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m85446903635_1.jpg?1553412085"
/           .item-box__body
/             .item-box__text
/               %h4
/                 KAHRI 化粧ポーチ
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/   .view-all
/     = link_to "すべての商品を見る", root_path
/   %h3
/     = link_to do
/       メンズ新着アイテム
/   %section.item-boxs
/     %ul
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/   .view-all
/     = link_to "すべての商品を見る", root_path
/   %h3
/     = link_to do
/       ベビー・キッズ新着アイテム
/   %section.item-boxs
/     %ul
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/   .view-all
/     = link_to "すべての商品を見る", root_path
/   %h3
/     = link_to do
/       コスメ・香水・美容新着アイテム
/   %section.item-boxs
/     %ul
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/   .view-all
/     = link_to "すべての商品を見る", root_path
/ %h2.pickup-head
/   ピックアップブランド
/   %h3
/     = link_to do
/       シャネル新着アイテム
/   %section.item-boxs
/     %ul
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/   .view-all
/     = link_to "すべての商品を見る", root_path
/   %h3
/     = link_to do
/       ルイヴィトン新着アイテム
/   %section.item-boxs
/     %ul
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/   .view-all
/     = link_to "すべての商品を見る", root_path
/   %h3
/     = link_to do
/       シュプリーム新着アイテム
/   %section.item-boxs
/     %ul
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/       %li.item-box
/         =link_to "#" do
/           = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
/           .item-box__body
/             .item-box__text
/               %h4
/                 ☆新品☆ earth music＆ecology ミニプリーツスカート♪
/             .item-box__num
/               .item-box__num__price
/                 ¥ 1,300
/                 .nice
/                   = fa_icon "heart", type: :regular, class: "icon-like-border"
/                   %span
/                     1
/               %p.item-box__num__price-tax
/                 (税込)
/   .view-all
/     = link_to "すべての商品を見る", root_path

