%h2.pickup-head
  ピックアップカテゴリー
  %h3
    = link_to do
      レディース新着アイテム
  %section.items-box-container
    %ul
      %li.items-box-content
        =link_to "#" do
          = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
          .item-box
            .item-box-name
              %h4
                ☆新品☆ earth music＆ecology ミニプリーツスカート♪
            .price
              ¥1,300
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                5
      %li.items-box-content
        =link_to "#" do
          = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
          .item-box
            .item-box-name
              %h4
                ☆新品☆ earth music＆ecology ミニプリーツスカート♪
            .price
              ¥1,300
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                5
      %li.items-box-content
        =link_to "#" do
          = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
          .item-box
            .item-box-name
              %h4
                ☆新品☆ earth music＆ecology ミニプリーツスカート♪
            .price
              ¥1,300
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                5
      %li.items-box-content
        =link_to "#" do
          = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
          .item-box
            .item-box-name
              %h4
                ☆新品☆ earth music＆ecology ミニプリーツスカート♪
            .price
              ¥1,300
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                5
  %h3
    = link_to do
      レディース新着アイテム
  %section.items-box-container
    %ul
      %li.items-box-content
        =link_to "#" do
          = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
          .item-box
            .item-box-name
              %h4
                ☆新品☆ earth music＆ecology ミニプリーツスカート♪
            .price
              ¥1,300
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                5
      %li.items-box-content
        =link_to "#" do
          = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
          .item-box
            .item-box-name
              %h4
                ☆新品☆ earth music＆ecology ミニプリーツスカート♪
            .price
              ¥1,300
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                5
      %li.items-box-content
        =link_to "#" do
          = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
          .item-box
            .item-box-name
              %h4
                ☆新品☆ earth music＆ecology ミニプリーツスカート♪
            .price
              ¥1,300
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                5
      %li.items-box-content
        =link_to "#" do
          = image_tag "https://static.mercdn.net/thumb/photos/m81234280144_1.jpg?1552381994"
          .item-box
            .item-box-name
              %h4
                ☆新品☆ earth music＆ecology ミニプリーツスカート♪
            .price
              ¥1,300
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                5
