= render 'shared/mercari-header'
%main.single-container
  %section.single-container__main
    %h2.item__header 商品の情報を入力
    / railsのバージョンが5.1以上の場合はform_with ↓ を使う
    /  = form_with model: @item do |f|
    = form_for @item do |f|
      .item__upload
        .item__upload__header
          出品画像
          %span.form-require 必須
        %p 最大10枚までアップロードできます
        .item__dropbox
        .item__dropbox__zone
          / imageモデルに紐づくformタグを作成（ブロック引数はimage)
          =f.fields_for :image, ItemImage.new do |image|
            %ul.item-dropbox-items
            .item-dropbox-uploader
            / formタグのラベル作成 itemではなくitem_imagesのテーブルに保存するためdoでpostする
            = image.label :image, for: "image" , class: "item-dropbox-uploader_container" do
              =image.file_field :image ,id:"goods_image" , class: "goods_images hidden"
          %pre.item__upload--visible
            ドラッグアンドドロップ
            またはクリックしてファイルをアップロード
      .item__content
        .form__group
          =f.label :商品名
          %span.form-require 必須
          = f.text_field :name, class: "input__default", placeholder: "商品名（必須 40文字まで)"
        .form__group
          =f.label :商品の説明
          %span.form-require 必須
          = f.text_area :info, class: "textarea__default", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"
      .item__content
        .item__content__header 商品の詳細
        .item__form__box
          .form__group
            =f.label :カテゴリー
            %span.form-require 必須
            / dbから持ってきたデータをselectするためのformパーツ（idで紐づけ）
            = f.collection_select :category_id, Category.all, :id, :name, {prompt: "---"},class: "input__default"
          .form__group
            =f.label :ブランド
            %span.form-require 必須
            = f.collection_select :brand_id, Brand.all, :id, :name, {prompt: "---"},class: "input__default"
          .form__group
            =f.label :サイズ
            %span.form-require 必須
            = f.select :size , ["S","M","L"] ,{ prompt: "---"} , {class: "input__default" }
          .form__group
            =f.label :商品の状態
            %span.form-require 必須
            = f.select :status , ["新品,未使用","未使用に近い","目立った傷や汚れなし","やや傷や汚れあり","傷や汚れあり","全体的に状態が悪い"] ,{ prompt: "---"} , {class: "input__default" }
      .item__content
        .item__content__header 配送について
        = link_to '?', "https://www.mercari.com/jp/help_center/article/68/",class: "form__question"
        .item__form__box
          .form__group
            %label
              配送料の負担
              %span.form-require 必須
            = f.select :delivery_cost , ["送料負担(出品者負担)","着払い(購入者負担)"] ,{ prompt: "---"} , {class: "input__default" }
          .form__group
            %label
              発送元の地域
              %span.form-require 必須
            = f.select :prefecture , ["千葉県","東京都"] ,{ prompt: "---"} , {class: "input__default" }
          .form__group
            %label
              発送までの日数
              %span.form-require 必須
            = f.select :delivery_day , ["1~2日で発送","2~3日で発送","4~7日で発送"] ,{ prompt: "---"} , {class: "input__default" }
      .item__content.clearfix
        .item__content__header 販売価格(300〜9,999,999)
        = link_to '?', "https://www.mercari.com/jp/help_center/article/64/",class: "form__question"
        .item__form__box__price
          %ul.item__form__right
            %li.item__form__right-box
              = f.label :価格
              %span.form-require 必須
              .item__price
                = f.label :¥, class: "item__price-label"
                = f.text_field :price, maxlength: "7", placeholder: "例)300", class: "item__price--input"
            %li.item__form__right-box
              販売手数料(10%)
              .l-right#output -
            %li.item__form__right-box
              %label
                販売利益
              .l-right2 -
      .item__content
        %p.sell__btn__box
          = link_to '禁止されている出品', "https://www.mercari.com/jp/help_center/getting_started/prohibited_items/"
          、
          = link_to '行為', "https://www.mercari.com/jp/help_center/getting_started/prohibited_conduct/"
          を必ずご確認ください。
        %p.sell__btn__box
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          = link_to '偽ブランドの販売', "https://www.mercari.com/jp/help_center/getting_started/counterfeit_goods/"
          は犯罪であり処罰される可能性があります。
        %p.sell__btn__box
          また、出品をもちまして
          = link_to '加盟店規約', "https://www.mercari.com/jp/seller_terms/ "
          に同意したことになります。
        .item_content__bottom_btn
          =f.submit :出品する,class: "btn-default btn-red"
        = link_to 'もどる', root_path, class: "btn-default btn-gray"
= render 'shared/login-footer'
