= render 'shared/mercari-header'
%main.single-container
  %section.single-container__main
    %h2.item__header 商品の情報を入力
    = form_for @item, class: "item__form" do |f|
      .item__form-upload
        .item__form-upload__header
          出品画像
          %span.form-require 必須
        %p 最大10枚までアップロードできます
        .item__form-upload__dropbox.clearfix
          .item__form-upload__dropbox__content-item
            %ul
          .item__form-upload__dropbox__zone
          =f.file_field :image, class: "image", style: "display:none;"
          %pre
            ドラッグアンドドロップ
            またはクリックしてファイルをアップロード
      .item__content
        .form__group
          %label
            商品名
            %span.form-require 必須
        = f.text_field :name, class: "input__default", placeholder: "商品名（必須 40文字まで)"
        .form__group
          %label
            商品の説明
            %span.form-require 必須
        = f.text_area :info, class: "textarea__default", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"
      .item__content
        .item__content__header 商品の詳細
        .item__form__box
          .form__group
            %label
              カテゴリー
              %span.form-require 必須
            .select--wrap
              %option  ---
          .form__group
            %label
              商品の状態
              %span.form-require 必須
            .select--wrap
              %option ---
      .item__content
        .item__content__header 配送について
        = link_to '?', "https://www.mercari.com/jp/help_center/article/68/",class: "form__question"
        .item__form__box
          .form__group
            %label
              配送料の負担
              %span.form-require 必須
            .select--wrap
              %option  ---
          .form__group
            %label
              発送元の地域
              %span.form-require 必須
            .select--wrap
              %option ---
          .form__group
            %label
              発送までの日数
              %span.form-require 必須
            .select--wrap
              %option ---
      .item__content.clearfix
        .item__content__header 販売価格(300〜9,999,999)
        = link_to '?', "https://www.mercari.com/jp/help_center/article/64/",class: "form__question"
        .item__form__box__price
          %ul.form__group
            %label.l-left
              価格
              %span.form-require 必須
              .sell-price
                ¥
                %input
          %ul.form__group
            %li 販売手数料(10%)
            .l-right#output -
          .form__group
            %label
              販売利益
            .l-right2 -
= render 'shared/login-footer'




